{% extends "BackendBundle:Layouts:2column.html.twig" %}
{%  set edit = "Edición del registro"|trans %}
{%  set create = "Creación de nuevo registro"|trans %}

{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {% if edition is defined %}
        {% set crumbs = {'Caballos':path('horses_list'), (horse.name): path('show_horse', {'id':horse.id}),'Ficha dental': path('dental_list', {'horse':horse.id}), (edit):''} %}
    {% else %}
        {% set crumbs = {'Caballos':path('horses_list'), (horse.name): path('show_horse', {'id':horse.id}),'Ficha dental': path('dental_list', {'horse':horse.id}), (create):''} %}
    {% endif %}

    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}
        </div>
        <div class="widget-content nopadding">
            <div class="center" style="text-align: center;">
                <h2> {{ horse.name }}</h2>
            </div>
            <div class="center" style="text-align: center;">
                {% if dental is defined %} <h4> {{ "Última modificación" }} : {{ dental.modified | date('d/m/Y') }} {% endif %}</h4>
            </div>
            <form class="form-horizontal" id="form-create-item" role="form" id="dental-form"
                  action="{% if edition is defined %}{{ path('put_dental',{'horse':horse.id, 'id':id}) }} {% else %} {{ path('create_dental', {'horse':horse.id}) }} {% endif %}"
                  method="post" {% if edition is defined %}{{ form_enctype(form) }} {% endif %} xmlns="http://www.w3.org/1999/html">
                
            {#    <div class="form-group">
                    <label id="label_report" for="dental_report" class="col-sm-3 control-label horse-active is-public"><span class="red">*</span> {{ "Primer reporte" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.report, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="center" style="text-align: center;">
                    <h4> {{ "Alimentación" }} </h4>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public"> {{ "Alimentación en Kilos" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.feed, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Heno" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.hay, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Silage" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.silage, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Horas de pasto" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.pasture, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Comentario de alimentación" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.comment, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
            #}
                <div class="center" style="text-align: center;">
                    <h4> {{ "Sedación de los incisivos" }} </h4>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"> {{ "Zona1" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone1, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public">{{ "Zona2" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone2, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"> {{ "Zona3" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone3, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public">{{ "Zona4" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone4, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"> {{ "Comentario sedación" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.comment, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="center" style="text-align: center;">
                    <h4> {{ "Dentadura" }} </h4>
                </div>
                <div class="form-group">
                    <label id="label_incisors" for="dental_incisors" class="col-sm-2 control-label horse-active is-public"><span class="red">*</span> {{ "Incisivos" |trans}}</label>
                    <div class="col-sm-10">
                        {% set params = {'controls': {'Color', 'Size': { 'type': 'dropdown' }, 'Navigation', 'DrawingMode': { 'filler': false } }, 'size':2, 'webStorage': false, 'background':'transparent' } %}
                        {% set params_html = {'class': 'canvas-incisors'} %}
                        {{ initDrawingboard('incisors-board', params, params_html) | raw }}
                        <input type="hidden" id="incisors" name="incisors" />
                    </div>
                </div>
{#
{{ initDrawingboard('quadrants', params, params_html) | raw }}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>{{ "Cuadrante" | trans }}</label>
                            <div id="canvas-quadrants" class="canvas-quadrants" style="{{ wrapBackgroundImage }}"></div>
                            <input type="hidden" name="[Dental][quadrants]" id="dental-quadrants">
                        </div>
                        <div class="form-result clearfix mt40">
                            <button type="submit" class="btn btn-default btn-green" id="denture-btn-next">
                                {{ "Guardar" | trans}} <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
{#
                        <div id="quadrant1" class="comments_quadrant">
                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_111">{{tooth.tooth_111.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_111][comment]" id="comment_111" value="{{tooth.tooth_111.comment}}">
                            <input type="hidden" name="[Tooth][tooth_111][salt]" value="{{tooth.tooth_111.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_110">{{tooth.tooth_110.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_110][comment]" id="comment_110" value="{{tooth.tooth_110.comment}}">
                            <input type="hidden" name="[Tooth][tooth_110][salt]" value="{{tooth.tooth_110.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_109">{{tooth.tooth_109.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_109][comment]" id="comment_109" value="{{tooth.tooth_109.comment}}">
                            <input type="hidden" name="[Tooth][tooth_109][salt]" value="{{tooth.tooth_109.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_108">{{tooth.tooth_108.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_108][comment]" id="comment_108" value="{{tooth.tooth_108.comment}}">
                            <input type="hidden" name="[Tooth][tooth_108][salt]" value="{{tooth.tooth_108.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_107">{{tooth.tooth_107.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_107][comment]" id="comment_107" value="{{tooth.tooth_107.comment}}">
                            <input type="hidden" name="[Tooth][tooth_107][salt]" value="{{tooth.tooth_107.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_106">{{tooth.tooth_106.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_106][comment]" id="comment_106" value="{{tooth.tooth_106.comment}}">
                            <input type="hidden" name="[Tooth][tooth_106][salt]" value="{{tooth.tooth_106.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_105">{{tooth.tooth_105.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_105][comment]" id="comment_105" value="{{tooth.tooth_105.comment}}">
                            <input type="hidden" name="[Tooth][tooth_105][salt]" value="{{tooth.tooth_105.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_104">{{tooth.tooth_104.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_104][comment]" id="comment_104" value="{{tooth.tooth_104.comment}}">
                            <input type="hidden" name="[Tooth][tooth_104][salt]" value="{{tooth.tooth_104.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_103">{{tooth.tooth_103.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_103][comment]" id="comment_103" value="{{tooth.tooth_103.comment}}">
                            <input type="hidden" name="[Tooth][tooth_103][salt]" value="{{tooth.tooth_103.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_102">{{tooth.tooth_102.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_102][comment]" id="comment_102" value="{{tooth.tooth_102.comment}}">
                            <input type="hidden" name="[Tooth][tooth_102][salt]" value="{{tooth.tooth_102.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_101">{{tooth.tooth_101.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_101][comment]" id="comment_101" value="{{tooth.tooth_101.comment}}">
                            <input type="hidden" name="[Tooth][tooth_101][salt]" value="{{tooth.tooth_101.salt}}">
                        </div>

                        <div id="quadrant2" class="comments_quadrant">
                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_201">{{tooth.tooth_201.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_201][comment]" id="comment_201" value="{{tooth.tooth_201.comment}}">
                            <input type="hidden" name="[Tooth][tooth_201][salt]" value="{{tooth.tooth_201.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_202">{{tooth.tooth_202.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_202][comment]" id="comment_202" value="{{tooth.tooth_202.comment}}">
                            <input type="hidden" name="[Tooth][tooth_202][salt]" value="{{tooth.tooth_202.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_203">{{tooth.tooth_203.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_203][comment]" id="comment_203" value="{{tooth.tooth_203.comment}}">
                            <input type="hidden" name="[Tooth][tooth_203][salt]" value="{{tooth.tooth_203.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_204">{{tooth.tooth_204.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_204][comment]" id="comment_204" value="{{tooth.tooth_204.comment}}">
                            <input type="hidden" name="[Tooth][tooth_204][salt]" value="{{tooth.tooth_204.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_205">{{tooth.tooth_205.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_205][comment]" id="comment_205" value="{{tooth.tooth_205.comment}}">
                            <input type="hidden" name="[Tooth][tooth_205][salt]" value="{{tooth.tooth_205.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_206">{{tooth.tooth_206.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_206][comment]" id="comment_206" value="{{tooth.tooth_206.comment}}">
                            <input type="hidden" name="[Tooth][tooth_206][salt]" value="{{tooth.tooth_206.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_207">{{tooth.tooth_207.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_207][comment]" id="comment_207" value="{{tooth.tooth_207.comment}}">
                            <input type="hidden" name="[Tooth][tooth_207][salt]" value="{{tooth.tooth_207.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_208" data-placement="left">{{tooth.tooth_208.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_208][comment]" id="comment_208" value="{{tooth.tooth_208.comment}}">
                            <input type="hidden" name="[Tooth][tooth_208][salt]" value="{{tooth.tooth_208.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_209" data-placement="left">{{tooth.tooth_209.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_209][comment]" id="comment_209" value="{{tooth.tooth_209.comment}}">
                            <input type="hidden" name="[Tooth][tooth_209][salt]" value="{{tooth.tooth_209.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_210" data-placement="left">{{tooth.tooth_210.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_210][comment]" id="comment_210" value="{{tooth.tooth_210.comment}}">
                            <input type="hidden" name="[Tooth][tooth_210][salt]" value="{{tooth.tooth_210.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_211" data-placement="left">{{tooth.tooth_211.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_211][comment]" id="comment_211" value="{{tooth.tooth_211.comment}}">
                            <input type="hidden" name="[Tooth][tooth_211][salt]" value="{{tooth.tooth_211.salt}}">
                        </div>

                        <div id="quadrant3" class="comments_quadrant">
                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_301">{{tooth.tooth_301.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_301][comment]" id="comment_301" value="{{tooth.tooth_301.comment}}">
                            <input type="hidden" name="[Tooth][tooth_301][salt]" value="{{tooth.tooth_301.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_302">{{tooth.tooth_302.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_302][comment]" id="comment_302" value="{{tooth.tooth_302.comment}}">
                            <input type="hidden" name="[Tooth][tooth_302][salt]" value="{{tooth.tooth_302.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_303">{{tooth.tooth_303.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_303][comment]" id="comment_303" value="{{tooth.tooth_303.comment}}">
                            <input type="hidden" name="[Tooth][tooth_303][salt]" value="{{tooth.tooth_303.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_304">{{tooth.tooth_304.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_304][comment]" id="comment_304" value="{{tooth.tooth_304.comment}}">
                            <input type="hidden" name="[Tooth][tooth_304][salt]" value="{{tooth.tooth_304.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_305">{{tooth.tooth_305.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_305][comment]" id="comment_305" value="{{tooth.tooth_305.comment}}">
                            <input type="hidden" name="[Tooth][tooth_305][salt]" value="{{tooth.tooth_305.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_306">{{tooth.tooth_306.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_306][comment]" id="comment_306" value="{{tooth.tooth_306.comment}}">
                            <input type="hidden" name="[Tooth][tooth_306][salt]" value="{{tooth.tooth_306.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_307">{{tooth.tooth_307.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_307][comment]" id="comment_307" value="{{tooth.tooth_307.comment}}">
                            <input type="hidden" name="[Tooth][tooth_307][salt]" value="{{tooth.tooth_307.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_308" data-placement="left">{{tooth.tooth_308.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_308][comment]" id="comment_308" value="{{tooth.tooth_308.comment}}">
                            <input type="hidden" name="[Tooth][tooth_308][salt]" value="{{tooth.tooth_308.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_309" data-placement="left">{{tooth.tooth_309.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_309][comment]" id="comment_309" value="{{tooth.tooth_309.comment}}">
                            <input type="hidden" name="[Tooth][tooth_309][salt]" value="{{tooth.tooth_309.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_310" data-placement="left">{{tooth.tooth_310.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_310][comment]" id="comment_310" value="{{tooth.tooth_310.comment}}">
                            <input type="hidden" name="[Tooth][tooth_310][salt]" value="{{tooth.tooth_310.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_311" data-placement="left">{{tooth.tooth_311.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_311][comment]" id="comment_311" value="{{tooth.tooth_311.comment}}">
                            <input type="hidden" name="[Tooth][tooth_311][salt]" value="{{tooth.tooth_311.salt}}">
                        </div>

                        <div id="quadrant4" class="comments_quadrant">
                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_411">{{tooth.tooth_411.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_411][comment]" id="comment_411" value="{{tooth.tooth_411.comment}}">
                            <input type="hidden" name="[Tooth][tooth_411][salt]" value="{{tooth.tooth_411.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_410">{{tooth.tooth_410.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_410][comment]" id="comment_410" value="{{tooth.tooth_410.comment}}">
                            <input type="hidden" name="[Tooth][tooth_410][salt]" value="{{tooth.tooth_410.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_409">{{tooth.tooth_409.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_409][comment]" id="comment_409" value="{{tooth.tooth_409.comment}}">
                            <input type="hidden" name="[Tooth][tooth_409][salt]" value="{{tooth.tooth_409.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_408">{{tooth.tooth_408.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_408][comment]" id="comment_408" value="{{tooth.tooth_408.comment}}">
                            <input type="hidden" name="[Tooth][tooth_408][salt]" value="{{tooth.tooth_408.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_407">{{tooth.tooth_407.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_407][comment]" id="comment_407" value="{{tooth.tooth_407.comment}}">
                            <input type="hidden" name="[Tooth][tooth_407][salt]" value="{{tooth.tooth_407.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_406">{{tooth.tooth_406.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_406][comment]" id="comment_406" value="{{tooth.tooth_406.comment}}">
                            <input type="hidden" name="[Tooth][tooth_406][salt]" value="{{tooth.tooth_406.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_405">{{tooth.tooth_405.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_405][comment]" id="comment_405" value="{{tooth.tooth_405.comment}}">
                            <input type="hidden" name="[Tooth][tooth_405][salt]" value="{{tooth.tooth_405.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_404">{{tooth.tooth_404.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_404][comment]" id="comment_404" value="{{tooth.tooth_404.comment}}">
                            <input type="hidden" name="[Tooth][tooth_404][salt]" value="{{tooth.tooth_404.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_403">{{tooth.tooth_403.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_403][comment]" id="comment_403" value="{{tooth.tooth_403.comment}}">
                            <input type="hidden" name="[Tooth][tooth_403][salt]" value="{{tooth.tooth_403.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_402">{{tooth.tooth_402.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_402][comment]" id="comment_402" value="{{tooth.tooth_402.comment}}">
                            <input type="hidden" name="[Tooth][tooth_402][salt]" value="{{tooth.tooth_402.salt}}">

                            <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_401">{{tooth.tooth_401.comment}}</a>
                            <input type="hidden" name="[Tooth][tooth_401][comment]" id="comment_401" value="{{tooth.tooth_401.comment}}">
                            <input type="hidden" name="[Tooth][tooth_401][salt]" value="{{tooth.tooth_401.salt}}">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"><span class="red">*</span> {{ "Cuadrantes" |trans}}</label>
                    <div class="col-sm-10">
                        <p>
                            {% set params = {'background':asset('bundles/backend/img/quadrants-1200.jpg') } %}
                            {% set params_html = {'class':'quadrant-board'} %}
                            {{ initDrawingboard('quadrants', params, params_html) | raw }}
                            <input type="hidden" class="quadrant_hidden" id="quadrant" name="quadrants" />
                        </p>
                    </div>
                </div>

                {% for i in 1..4 %}
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-3 control-label horse-active is-public"><span class="red">*</span> {{ "Cuadrante" |trans}} {{ i }}</label>
                    <div class="col-sm-9">
                        <p>
                        {% set params = {'background':asset('bundles/backend/img/quadrant-' ~ i ~ '.jpg') } %}
                        {% set params_html = {'class':'quadrant-board'} %}
                        {{ initDrawingboard('quadrant-' ~ i ~ '-board', params, params_html) | raw }}
                        <input type="hidden" class="quadrant_hidden" id="{{ 'quadrant' ~ i }}" name="quadrant[]" />
                        </p>
                        <div class="widget-box">
                            <div class="widget-content nopadding">
                                <table class="table table-bordered table-striped table-hover with-check tooth-quadrant">
                                    <thead>
                                        <tr>
                                            {% for tooth in teeth[i-1] %}
                                                <th>{{ tooth.tooth_number }}</th>
                                            {% endfor %}
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tongue_input">
                                            {% for tooth in teeth[i-1] %}
                                                <td id="{{ 'checked'~tooth.tooth_number }}">
                                                    <input id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_checked" type="checkbox" value="1" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][checked]">
                                                </td>
                                            {% endfor %}
                                            <td>Checked</td>
                                        </tr>
                                        <tr class="tongue_input">
                                            {% for tooth in teeth[i-1] %}
                                                <td id="{{ 'tongue'~tooth.tooth_number }}">
                                                    <input id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_tongue" type="checkbox" value="1" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][tongue]">
                                                </td>
                                            {% endfor %}
                                            <td>Zunge</td>
                                        </tr>
                                        <tr class="haken_input">
                                            {% for tooth in teeth[i-1] %}
                                                <td id="{{ 'haken'~tooth.tooth_number }}">
                                                    <select id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_haken" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][haken]">
                                                        {% if edition is defined %}
                                                            {% if tooth.haken == null %}
                                                                <option></option>
                                                            {% else %}
                                                                <option>{{ tooth.haken }}</option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option></option>
                                                        {% endif %}
                                                        <option>ggr</option>
                                                        <option>mgr</option>
                                                        <option>hgr</option>
                                                    </select>
                                                </td>
                                            {% endfor %}
                                            <td >haken</td>
                                        </tr>
                                        <tr class="kanten_input">
                                            {% for tooth in teeth[i-1] %}
                                                <td id="{{'kanten'~ tooth.tooth_number }}">
                                                    <select id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_kanten" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][kanten]">
                                                        {% if edition is defined %}
                                                            {% if tooth.kanten == null %}
                                                                <option></option>
                                                            {% else %}
                                                                <option>{{ tooth.kanten }}</option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option></option>
                                                        {% endif %}
                                                        <option>ggr</option>
                                                        <option>mgr</option>
                                                        <option>hgr</option>
                                                    </select>
                                                </td>
                                            {% endfor %}
                                            <td>kanten</td>
                                        </tr>
#}
                                        {#
                                        <tr class="missloos_input">
                                            {% for tooth in teeth[i-1] %}
                                                <td id="{{'missloos'~ tooth.tooth_number }}" >
                                                    <input id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_missLoos" type="text" class="col-sm-4" maxlength="1" value="" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][missLoose]">
                                                </td>
                                            {% endfor %}
                                            <td>fehlt</td>
                                        </tr>
                                        #}
{#                                        <tr class="comment_input">
                                            {% for tooth in teeth[i-1] %}
                                                <td id="{{'missloos'~ tooth.tooth_number }}" >
                                                    <input id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_comment" type="text" class="col-sm-12" value="" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][comment]">
                                                </td>
                                            {% endfor %}
                                            <td>{{ "Comentario" | trans }}</td>
                                        </tr>
                                        {% for tooth in teeth[i-1] %}
                                                <input id="quadrants_{{ i-1 }}_teeth_{{ ((i-1) *11) + loop.index }}_tooth" type="hidden" value="{{ tooth.id }}" name="quadrants[{{ i-1 }}][teeth][{{ ((i-1) *11) + loop.index0 }}][tooth]">
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
#}
                <div class="form-group">
                    <label id="label_comment" for="dental_comment" class="col-sm-2 control-label horse-active is-public"><span class="red">*</span> {{ "Comentario" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.comment, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sign" for="dental_sign" class="col-sm-2 control-label horse-active is-public"><span class="red">*</span> {{ "Firma" |trans}}</label>
                    <div class="col-sm-10">
                        {% set params = {'background':'#FFF' } %}
                        {% set params_html = {'class':'sign-board'} %}
                        {{ initDrawingboard('sign-board', params, params_html) | raw }}
                        <input type="hidden" class="sign_hidden" id="sign" name="sign" />
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <button id="register" type="submit" class="btn btn-large btn-primary">
                        {{ "Guardar cambios"|trans }}
                    </button>
                    <img style="display:none;" src="{{ asset('bundles/backend/img/spinner.gif') }}">
                    <div class="help-block mt10">
                        <span class="red">*</span> {{"Campos obligatorios" | trans }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#form-create-item').submit(function(event){
        	$('#incisors-board').find('.drawing-board-canvas').each(function(){
        		imgIncisor = this.toDataURL().replace("image/png", "image/octet-stream");
        		$('#incisors').val(imgIncisor);
        	});

        	$('#sign-board').find('.drawing-board-canvas').each(function(){
        		imgSign = this.toDataURL().replace("image/png", "image/octet-stream");
        		$('#sign').val(imgSign);
        	});

            var i=1;
    		$('.quadrant-board').find('.drawing-board-canvas').each(function(){
    			img = this.toDataURL().replace("image/png", "image/octet-stream");
        	    $('#quadrant'+i).val(img);
        	    i++;
    		});

            return true;
        });
    </script>
{% endblock %}