{% extends "BackendBundle:Layouts:2column.html.twig" %}
{%  set edit = "Edición del registro"|trans %}
{%  set create = "Creación de nuevo registro"|trans %}

{% block title_section %}
    {% if edition is defined %}
        {{ edit }}
    {% else %}
        {{ create }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if sizeImage is not defined or sizeImage > 950 %}
        <style>
            .canvas-quadrants{
                width: 998px;
                height: 695px;
            }
            #wrap-quadrants{
                width: 650px;
                height: 343.75px;
            }
        </style>
    {% else %}
        <style>
            .canvas-quadrants{
                width: 802px;
                height: 570px;
            }
            #wrap-quadrants{
                width: 539px;
                height: 337.5px;
            }
                /*Cuadrantes 1 y 4*/

            #quadrant1 a.comment_1,
            #quadrant4 a.comment_1{
                margin-left: 13px;
            }

            #quadrant1 a.comment_2,
            #quadrant4 a.comment_2{
                margin-left: 13px;
            }

            #quadrant1 a.comment_3,
            #quadrant4 a.comment_3{
                margin-left: 13px;
            }

            #quadrant1 a.comment_4,
            #quadrant4 a.comment_4{
                margin-left: 13px;
            }

            #quadrant1 a.comment_5,
            #quadrant4 a.comment_5{
                margin-left: 13px;
            }

            #quadrant1 a.comment_6,
            #quadrant4 a.comment_6{
                margin-left: 15px;
            }

            #quadrant1 a.comment_7,
            #quadrant4 a.comment_7{
                margin-left: 10px;
            }

            #quadrant1 a.comment_8,
            #quadrant4 a.comment_8{
                margin-left: 4px;
            }

            #quadrant1 a.comment_9,
            #quadrant4 a.comment_9{
                margin-left: 6px;
            }

            #quadrant1 a.comment_10,
            #quadrant4 a.comment_10{
                margin-left: 6px;
            }

            #quadrant1 a.comment_11,
            #quadrant4 a.comment_11{
                margin-left: 5px;
            }

                /*Cuadrantes 2 y 3*/

            #quadrant2 a.comment_1,
            #quadrant3 a.comment_1{
                margin-right: 3px;
            }

            #quadrant2 a.comment_2,
            #quadrant3 a.comment_2{
                margin-right: 5px;
            }

            #quadrant2 a.comment_3,
            #quadrant3 a.comment_3{
                margin-right: 7px;
            }

            #quadrant2 a.comment_4,
            #quadrant3 a.comment_4{
                margin-right: 6px;
            }

            #quadrant2 a.comment_5,
            #quadrant3 a.comment_5{
                margin-right: 9px;
            }

            #quadrant2 a.comment_6,
            #quadrant3 a.comment_6{
                margin-right: 15px;
            }

            #quadrant2 a.comment_7,
            #quadrant3 a.comment_7{
                margin-right: 15px;
            }

            #quadrant2 a.comment_8,
            #quadrant3 a.comment_8{
                margin-right: 15px;
            }

            #quadrant2 a.comment_9,
            #quadrant3 a.comment_9{
                margin-right: 13px;
            }

            #quadrant2 a.comment_10,
            #quadrant3 a.comment_10{
                margin-right: 13px;
            }

            #quadrant2 a.comment_11,
            #quadrant3 a.comment_11{
                margin-right: 10px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if edition is defined %}
        {% set crumbs = {'Caballos':path('horses_list'), (horse.name): path('show_horse', {'id':horse.id}),'Ficha dental': path('dental_list', {'horse':horse.id}), (edit):''} %}
    {% else %}
        {% set crumbs = {'Caballos':path('horses_list'), (horse.name): path('show_horse', {'id':horse.id}),'Ficha dental': path('dental_list', {'horse':horse.id}), (create):''} %}
    {% endif %}

    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if sizeImage is not defined or sizeImage > 950 %}
        {% set sizeImg = 1200 %}
    {% else %}
        {% set sizeImg = 800 %}
    {% endif %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            {% if edition is defined %}
                <h5>{{ edit }}</h5>
            {% else %}
                <h5>{{ create }}</h5>
            {% endif %}
        </div>
        <div class="widget-content nopadding">
            <div class="center" style="text-align: center;">
                <h2> {{ horse.name }}</h2>
            </div>
            <div class="center" style="text-align: center;">
                {% if dental is defined %} <h4> {{ "Última modificación" }} : {{ dental.modified | date('d/m/Y') }} {% endif %}</h4>
            </div>
            <form class="form-horizontal" id="form-create-item" role="form" id="dental-form"
                  action="{% if edition is defined %}{{ path('put_dental',{'horse':horse.id, 'id':id}) }} {% else %} {{ path('create_dental', {'horse':horse.id}) }} {% endif %}"
                  method="post" {% if edition is defined %}{{ form_enctype(form) }} {% endif %} xmlns="http://www.w3.org/1999/html">
                
            {#    <div class="form-group">
                    <label id="label_report" for="dental_report" class="col-sm-3 control-label horse-active is-public"><span class="red">*</span> {{ "Primer reporte" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.report, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="center" style="text-align: center;">
                    <h4> {{ "Alimentación" }} </h4>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public"> {{ "Alimentación en Kilos" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.feed, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Heno" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.hay, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Silage" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.silage, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Horas de pasto" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.pasture, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_feeding" for="dental_feeding" class="col-sm-3 control-label horse-active is-public">{{ "Comentario de alimentación" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.feeding.comment, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
            #}
                <div class="center" style="text-align: center;">
                    <h4> {{ "Sedación de los incisivos" }} </h4>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"> {{ "Zona1" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone1, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public">{{ "Zona2" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone2, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"> {{ "Zona3" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone3, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public">{{ "Zona4" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.zone4, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sedation" for="dental_sedation" class="col-sm-2 control-label horse-active is-public"> {{ "Comentario sedación" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.sedation.comment, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="center" style="text-align: center;">
                    <h4> {{ "Dentadura" }} </h4>
                </div>
                <div class="form-group">
                    <label id="label_incisors" for="dental_incisors" class="col-sm-2 control-label horse-active is-public"> {{ "Incisivos" |trans}}</label>
                    <div class="col-sm-10">
                        {% set type = 'simple' %}
                        {% set background_incisor = {} %}
                        {% set params_html = {'class': 'canvas-incisors'} %}
                        {% if edition is defined %}
                            {{ initDrawingboard('canvas-incisors', type, {'background' : incisors }, params_html) | raw }}
                        {% else %}
                            {{ initDrawingboard('canvas-incisors', type, background_incisor, params_html) | raw }}
                        {% endif %}
                        <input type="hidden" name="incisors" id="dental-incisors">
                    </div>
                </div>

                <div class="form-group">
                    <label id="label_quadrants" for="dental_quadrants" class="col-sm-2 control-label horse-active is-public"> {{ "Cuadrantes" |trans}}</label>
                    <div class="col-sm-10">
                        {% set type = 'complete' %}
                        {% if edition is defined %}
                            {% set routQuadrant = 'bundles/backend/img/'~language~'/quadrants-'~sizeImg~'.jpg' %}
                            {% set image_canvas = {  'background' : imageDental } %}
                            {% set background_canvas =  'background-image:url(\''~asset(routQuadrant)~'\');' %}
                            {% set params_html = {'class': 'canvas-quadrants', 'style': background_canvas } %}
                        {% else %}
                            {% set routQuadrant = 'bundles/backend/img/'~language~'/quadrants-'~sizeImg~'.jpg' %}
                            {% set image_canvas = {} %}
                            {% set background_canvas =  'background-image:url(\''~asset(routQuadrant)~'\');' %}
                            {% set params_html = {'class': 'canvas-quadrants', 'style': background_canvas } %}
                        {% endif %}
                        {{ initDrawingboard('canvas-quadrants', type, image_canvas, params_html) | raw }}
                        <input type="hidden" name="quadrants" id="dental-quadrants">
                    </div>
                </div>

                <div id="quadrant1" class="comments_quadrant">
                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_111">{{tooth.tooth_111.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_111][comment]" id="comment_111" value="{{tooth.tooth_111.comment}}">
                    <input type="hidden" name="data_dental[tooth_111][salt]" value="{{tooth.tooth_111.salt}}">
                    <input type="hidden" name="data_dental[tooth_111][number]" value="{{tooth.tooth_111.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_110">{{tooth.tooth_110.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_110][comment]" id="comment_110" value="{{tooth.tooth_110.comment}}">
                    <input type="hidden" name="data_dental[tooth_110][salt]" value="{{tooth.tooth_110.salt}}">
                    <input type="hidden" name="data_dental[tooth_110][number]" value="{{tooth.tooth_110.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_109">{{tooth.tooth_109.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_109][comment]" id="comment_109" value="{{tooth.tooth_109.comment}}">
                    <input type="hidden" name="data_dental[tooth_109][salt]" value="{{tooth.tooth_109.salt}}">
                    <input type="hidden" name="data_dental[tooth_109][number]" value="{{tooth.tooth_109.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_108">{{tooth.tooth_108.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_108][comment]" id="comment_108" value="{{tooth.tooth_108.comment}}">
                    <input type="hidden" name="data_dental[tooth_108][salt]" value="{{tooth.tooth_108.salt}}">
                    <input type="hidden" name="data_dental[tooth_108][number]" value="{{tooth.tooth_108.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_107">{{tooth.tooth_107.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_107][comment]" id="comment_107" value="{{tooth.tooth_107.comment}}">
                    <input type="hidden" name="data_dental[tooth_107][salt]" value="{{tooth.tooth_107.salt}}">
                    <input type="hidden" name="data_dental[tooth_107][number]" value="{{tooth.tooth_107.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_106">{{tooth.tooth_106.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_106][comment]" id="comment_106" value="{{tooth.tooth_106.comment}}">
                    <input type="hidden" name="data_dental[tooth_106][salt]" value="{{tooth.tooth_106.salt}}">
                    <input type="hidden" name="data_dental[tooth_106][number]" value="{{tooth.tooth_106.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_105">{{tooth.tooth_105.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_105][comment]" id="comment_105" value="{{tooth.tooth_105.comment}}">
                    <input type="hidden" name="data_dental[tooth_105][salt]" value="{{tooth.tooth_105.salt}}">
                    <input type="hidden" name="data_dental[tooth_105][number]" value="{{tooth.tooth_105.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_104">{{tooth.tooth_104.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_104][comment]" id="comment_104" value="{{tooth.tooth_104.comment}}">
                    <input type="hidden" name="data_dental[tooth_104][salt]" value="{{tooth.tooth_104.salt}}">
                    <input type="hidden" name="data_dental[tooth_104][number]" value="{{tooth.tooth_104.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_103">{{tooth.tooth_103.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_103][comment]" id="comment_103" value="{{tooth.tooth_103.comment}}">
                    <input type="hidden" name="data_dental[tooth_103][salt]" value="{{tooth.tooth_103.salt}}">
                    <input type="hidden" name="data_dental[tooth_103][number]" value="{{tooth.tooth_103.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_102">{{tooth.tooth_102.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_102][comment]" id="comment_102" value="{{tooth.tooth_102.comment}}">
                    <input type="hidden" name="data_dental[tooth_102][salt]" value="{{tooth.tooth_102.salt}}">
                    <input type="hidden" name="data_dental[tooth_102][number]" value="{{tooth.tooth_102.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_101">{{tooth.tooth_101.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_101][comment]" id="comment_101" value="{{tooth.tooth_101.comment}}">
                    <input type="hidden" name="data_dental[tooth_101][salt]" value="{{tooth.tooth_101.salt}}">
                    <input type="hidden" name="data_dental[tooth_101][number]" value="{{tooth.tooth_101.number}}">
                </div>

                <div id="quadrant2" class="comments_quadrant">
                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_201">{{tooth.tooth_201.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_201][comment]" id="comment_201" value="{{tooth.tooth_201.comment}}">
                    <input type="hidden" name="data_dental[tooth_201][salt]" value="{{tooth.tooth_201.salt}}">
                    <input type="hidden" name="data_dental[tooth_201][number]" value="{{tooth.tooth_201.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_202">{{tooth.tooth_202.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_202][comment]" id="comment_202" value="{{tooth.tooth_202.comment}}">
                    <input type="hidden" name="data_dental[tooth_202][salt]" value="{{tooth.tooth_202.salt}}">
                    <input type="hidden" name="data_dental[tooth_202][number]" value="{{tooth.tooth_202.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_203">{{tooth.tooth_203.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_203][comment]" id="comment_203" value="{{tooth.tooth_203.comment}}">
                    <input type="hidden" name="data_dental[tooth_203][salt]" value="{{tooth.tooth_203.salt}}">
                    <input type="hidden" name="data_dental[tooth_203][number]" value="{{tooth.tooth_203.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_204">{{tooth.tooth_204.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_204][comment]" id="comment_204" value="{{tooth.tooth_204.comment}}">
                    <input type="hidden" name="data_dental[tooth_204][salt]" value="{{tooth.tooth_204.salt}}">
                    <input type="hidden" name="data_dental[tooth_204][number]" value="{{tooth.tooth_204.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_205">{{tooth.tooth_205.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_205][comment]" id="comment_205" value="{{tooth.tooth_205.comment}}">
                    <input type="hidden" name="data_dental[tooth_205][salt]" value="{{tooth.tooth_205.salt}}">
                    <input type="hidden" name="data_dental[tooth_205][number]" value="{{tooth.tooth_205.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_206">{{tooth.tooth_206.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_206][comment]" id="comment_206" value="{{tooth.tooth_206.comment}}">
                    <input type="hidden" name="data_dental[tooth_206][salt]" value="{{tooth.tooth_206.salt}}">
                    <input type="hidden" name="data_dental[tooth_206][number]" value="{{tooth.tooth_206.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_207">{{tooth.tooth_207.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_207][comment]" id="comment_207" value="{{tooth.tooth_207.comment}}">
                    <input type="hidden" name="data_dental[tooth_207][salt]" value="{{tooth.tooth_207.salt}}">
                    <input type="hidden" name="data_dental[tooth_207][number]" value="{{tooth.tooth_207.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_208" data-placement="left">{{tooth.tooth_208.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_208][comment]" id="comment_208" value="{{tooth.tooth_208.comment}}">
                    <input type="hidden" name="data_dental[tooth_208][salt]" value="{{tooth.tooth_208.salt}}">
                    <input type="hidden" name="data_dental[tooth_208][number]" value="{{tooth.tooth_208.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_209" data-placement="left">{{tooth.tooth_209.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_209][comment]" id="comment_209" value="{{tooth.tooth_209.comment}}">
                    <input type="hidden" name="data_dental[tooth_209][salt]" value="{{tooth.tooth_209.salt}}">
                    <input type="hidden" name="data_dental[tooth_209][number]" value="{{tooth.tooth_209.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_210" data-placement="left">{{tooth.tooth_210.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_210][comment]" id="comment_210" value="{{tooth.tooth_210.comment}}">
                    <input type="hidden" name="data_dental[tooth_210][salt]" value="{{tooth.tooth_210.salt}}">
                    <input type="hidden" name="data_dental[tooth_210][number]" value="{{tooth.tooth_210.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_211" data-placement="left">{{tooth.tooth_211.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_211][comment]" id="comment_211" value="{{tooth.tooth_211.comment}}">
                    <input type="hidden" name="data_dental[tooth_211][salt]" value="{{tooth.tooth_211.salt}}">
                    <input type="hidden" name="data_dental[tooth_211][number]" value="{{tooth.tooth_211.number}}">
                </div>

                <div id="quadrant3" class="comments_quadrant">
                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_301">{{tooth.tooth_301.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_301][comment]" id="comment_301" value="{{tooth.tooth_301.comment}}">
                    <input type="hidden" name="data_dental[tooth_301][salt]" value="{{tooth.tooth_301.salt}}">
                    <input type="hidden" name="data_dental[tooth_301][number]" value="{{tooth.tooth_301.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_302">{{tooth.tooth_302.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_302][comment]" id="comment_302" value="{{tooth.tooth_302.comment}}">
                    <input type="hidden" name="data_dental[tooth_302][salt]" value="{{tooth.tooth_302.salt}}">
                    <input type="hidden" name="data_dental[tooth_302][number]" value="{{tooth.tooth_302.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_303">{{tooth.tooth_303.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_303][comment]" id="comment_303" value="{{tooth.tooth_303.comment}}">
                    <input type="hidden" name="data_dental[tooth_303][salt]" value="{{tooth.tooth_303.salt}}">
                    <input type="hidden" name="data_dental[tooth_303][number]" value="{{tooth.tooth_303.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_304">{{tooth.tooth_304.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_304][comment]" id="comment_304" value="{{tooth.tooth_304.comment}}">
                    <input type="hidden" name="data_dental[tooth_304][salt]" value="{{tooth.tooth_304.salt}}">
                    <input type="hidden" name="data_dental[tooth_304][number]" value="{{tooth.tooth_304.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_305">{{tooth.tooth_305.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_305][comment]" id="comment_305" value="{{tooth.tooth_305.comment}}">
                    <input type="hidden" name="data_dental[tooth_305][salt]" value="{{tooth.tooth_305.salt}}">
                    <input type="hidden" name="data_dental[tooth_305][number]" value="{{tooth.tooth_305.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_306">{{tooth.tooth_306.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_306][comment]" id="comment_306" value="{{tooth.tooth_306.comment}}">
                    <input type="hidden" name="data_dental[tooth_306][salt]" value="{{tooth.tooth_306.salt}}">
                    <input type="hidden" name="data_dental[tooth_306][number]" value="{{tooth.tooth_306.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_307">{{tooth.tooth_307.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_307][comment]" id="comment_307" value="{{tooth.tooth_307.comment}}">
                    <input type="hidden" name="data_dental[tooth_307][salt]" value="{{tooth.tooth_307.salt}}">
                    <input type="hidden" name="data_dental[tooth_307][number]" value="{{tooth.tooth_307.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_308" data-placement="left">{{tooth.tooth_308.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_308][comment]" id="comment_308" value="{{tooth.tooth_308.comment}}">
                    <input type="hidden" name="data_dental[tooth_308][salt]" value="{{tooth.tooth_308.salt}}">
                    <input type="hidden" name="data_dental[tooth_308][number]" value="{{tooth.tooth_308.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_309" data-placement="left">{{tooth.tooth_309.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_309][comment]" id="comment_309" value="{{tooth.tooth_309.comment}}">
                    <input type="hidden" name="data_dental[tooth_309][salt]" value="{{tooth.tooth_309.salt}}">
                    <input type="hidden" name="data_dental[tooth_309][number]" value="{{tooth.tooth_309.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_310" data-placement="left">{{tooth.tooth_310.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_310][comment]" id="comment_310" value="{{tooth.tooth_310.comment}}">
                    <input type="hidden" name="data_dental[tooth_310][salt]" value="{{tooth.tooth_310.salt}}">
                    <input type="hidden" name="data_dental[tooth_310][number]" value="{{tooth.tooth_310.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_311" data-placement="left">{{tooth.tooth_311.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_311][comment]" id="comment_311" value="{{tooth.tooth_311.comment}}">
                    <input type="hidden" name="data_dental[tooth_311][salt]" value="{{tooth.tooth_311.salt}}">
                    <input type="hidden" name="data_dental[tooth_311][number]" value="{{tooth.tooth_311.number}}">
                </div>

                <div id="quadrant4" class="comments_quadrant">
                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_1" data-id="comment_411">{{tooth.tooth_411.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_411][comment]" id="comment_411" value="{{tooth.tooth_411.comment}}">
                    <input type="hidden" name="data_dental[tooth_411][salt]" value="{{tooth.tooth_411.salt}}">
                    <input type="hidden" name="data_dental[tooth_411][number]" value="{{tooth.tooth_411.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_2" data-id="comment_410">{{tooth.tooth_410.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_410][comment]" id="comment_410" value="{{tooth.tooth_410.comment}}">
                    <input type="hidden" name="data_dental[tooth_410][salt]" value="{{tooth.tooth_410.salt}}">
                    <input type="hidden" name="data_dental[tooth_410][number]" value="{{tooth.tooth_410.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_3" data-id="comment_409">{{tooth.tooth_409.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_409][comment]" id="comment_409" value="{{tooth.tooth_409.comment}}">
                    <input type="hidden" name="data_dental[tooth_409][salt]" value="{{tooth.tooth_409.salt}}">
                    <input type="hidden" name="data_dental[tooth_409][number]" value="{{tooth.tooth_409.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_4" data-id="comment_408">{{tooth.tooth_408.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_408][comment]" id="comment_408" value="{{tooth.tooth_408.comment}}">
                    <input type="hidden" name="data_dental[tooth_408][salt]" value="{{tooth.tooth_408.salt}}">
                    <input type="hidden" name="data_dental[tooth_408][number]" value="{{tooth.tooth_408.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_5" data-id="comment_407">{{tooth.tooth_407.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_407][comment]" id="comment_407" value="{{tooth.tooth_407.comment}}">
                    <input type="hidden" name="data_dental[tooth_407][salt]" value="{{tooth.tooth_407.salt}}">
                    <input type="hidden" name="data_dental[tooth_407][number]" value="{{tooth.tooth_407.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_6" data-id="comment_406">{{tooth.tooth_406.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_406][comment]" id="comment_406" value="{{tooth.tooth_406.comment}}">
                    <input type="hidden" name="data_dental[tooth_406][salt]" value="{{tooth.tooth_406.salt}}">
                    <input type="hidden" name="data_dental[tooth_406][number]" value="{{tooth.tooth_406.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_7" data-id="comment_405">{{tooth.tooth_405.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_405][comment]" id="comment_405" value="{{tooth.tooth_405.comment}}">
                    <input type="hidden" name="data_dental[tooth_405][salt]" value="{{tooth.tooth_405.salt}}">
                    <input type="hidden" name="data_dental[tooth_405][number]" value="{{tooth.tooth_405.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_8" data-id="comment_404">{{tooth.tooth_404.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_404][comment]" id="comment_404" value="{{tooth.tooth_404.comment}}">
                    <input type="hidden" name="data_dental[tooth_404][salt]" value="{{tooth.tooth_404.salt}}">
                    <input type="hidden" name="data_dental[tooth_404][number]" value="{{tooth.tooth_404.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_9" data-id="comment_403">{{tooth.tooth_403.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_403][comment]" id="comment_403" value="{{tooth.tooth_403.comment}}">
                    <input type="hidden" name="data_dental[tooth_403][salt]" value="{{tooth.tooth_403.salt}}">
                    <input type="hidden" name="data_dental[tooth_403][number]" value="{{tooth.tooth_403.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_10" data-id="comment_402">{{tooth.tooth_402.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_402][comment]" id="comment_402" value="{{tooth.tooth_402.comment}}">
                    <input type="hidden" name="data_dental[tooth_402][salt]" value="{{tooth.tooth_402.salt}}">
                    <input type="hidden" name="data_dental[tooth_402][number]" value="{{tooth.tooth_402.number}}">

                    <a href="#" class="edit-inline glyphicon glyphicon-comment comment_11" data-id="comment_401">{{tooth.tooth_401.comment}}</a>
                    <input type="hidden" name="data_dental[tooth_401][comment]" id="comment_401" value="{{tooth.tooth_401.comment}}">
                    <input type="hidden" name="data_dental[tooth_401][salt]" value="{{tooth.tooth_401.salt}}">
                    <input type="hidden" name="data_dental[tooth_401][number]" value="{{tooth.tooth_401.number}}">
                </div>

                <div class="form-group">
                    <label id="label_comment" for="dental_comment" class="col-sm-2 control-label horse-active is-public"><span class="red">*</span> {{ "Comentario" |trans}}</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.comment, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="label_sign" for="dental_sign" class="col-sm-2 control-label horse-active is-public"><span class="red">*</span> {{ "Firma" |trans}}</label>
                    <div class="col-sm-10">
                        {% set type = 'simple' %}
                        {% set background_sign = {} %}
                        {% set params_html = {'class':'canvas-sign', 'style':'background-color: white;'} %}
                        {% if edition is defined %}
                            {% set background_sign = { 'background' : sign } %}
                        {% endif %}
                        {{ initDrawingboard('canvas-sign', type, background_sign, params_html) | raw }}
                        <input type="hidden" name="sign" id="dental-sign">
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <button id="register" type="submit" class="btn btn-large btn-primary">
                        {{ "Guardar cambios"|trans }}
                    </button>
                    <img style="display:none;" src="{{ asset('bundles/backend/img/spinner.gif') }}">
                    <div class="help-block mt10">
                        <span class="red">*</span> {{"Campos obligatorios" | trans }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/js/x-editable/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript">
        $('#form-create-item').submit(function(event){
            var canvas = $('#canvas-quadrants').find('.drawing-board-canvas');
            var uri = canvas[0].toDataURL().replace('image/png', 'image/octet-stream');
            $('#dental-quadrants').val(uri);

            var canvas1 = $('#canvas-sign').find('.drawing-board-canvas');
            var uri1 = canvas1[0].toDataURL().replace('image/png', 'image/octet-stream');
            $('#dental-sign').val(uri1);

            var canvas2 = $('#canvas-incisors').find('.drawing-board-canvas');
            var uri2 = canvas2[0].toDataURL().replace('image/png', 'image/octet-stream');
            $('#dental-incisors').val(uri2);

            return true;
        });
        $(document).ready(function(){
            $('.canvas-quadrants').append($('.comments_quadrant'));
            $('.edit-inline').editable({
                type: 'text'
            });

            $('.edit-inline').on('save', function(e, params) {
                var v = params.newValue,
                        f = $(this).attr('data-id');
                $('#'+f).val(v);
            });
        });
    </script>
{% endblock %}