{% extends "BackendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Historia" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Caballos':path('horses_list'), (horse.name): path('show_horse', {'id':horse.id}), 'Ficha dental': '#'} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if dental %}

        <div class="row">
            <a title="Modificar" href="{{ path('edit_dental', { 'horse':horse.id, 'id':dental.id  }) }}" class="btn btn-primary btn-s">
                <i class="fa fa-pencil"></i> {{"Editar" | trans}}
            </a>
            <a title="Borrar" href="{{ path('delete_dental', { 'horse':horse.id, 'id': dental.id }) }}" class="btn btn-danger btn-s">
                <i class="fa fa-trash-o"></i> {{"Borrar" | trans}}
            </a>

        </div>

        <div class="widget-box">
            <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th-list"></i>
            </span>
                <h5>{{ "Ficha"|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>{{ "Primer reporte"|trans }}</td>
                            <td>{% if dental.report is defined %} {{ dental.report }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Alimentación"|trans }}</td>
                            <td>{% if dental.feeding is defined %}{{ dental.feeding }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Sedación"|trans }}</td>
                            <td>{% if dental.sedation is defined %}{{ dental.sedation }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Caballo"|trans }}</td>
                            <td>{% if horse is defined %}
                                    {% if horse.name is defined %}{{ horse.name }}{% endif %}
                                    &nbsp;
                                    <a title="{{ "Ver"|trans }}" href="{{ path('show_horse', { 'id': horse.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                                    <a title="{{ "Editar"|trans }}" href="{{ path('edit_horse', { 'id': horse.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "Comentario" | trans }}</td>
                            <td>{% if dental.comment is defined %}{{ dental.comment }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Creación" | trans }}</td>
                            <td>{% if dental.created is defined %}{{ dental.created |date('d/m/Y') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        {% if dental.quadrants %}
            <div class="widget-box">
                <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-th-list"></i>
                </span>
                    <h5>{{ "Cuadrante"|trans }}</h5>
                </div>
                <div class="widget-content nopadding">
                    {% for quadrant in dental.quadrants %}
                       <img src={{ "http://rest.ihorse.me/" ~ images[loop.index0] }}>
                    {% endfor %}
                </div>
            </div>
        {% else %}
             <div class="alert alert-info mt">
                <strong>{{"Información!" | trans }}</strong>
                {{"No se ha encontrado ningún cuadrante" | trans }}
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}