{% extends "BackendBundle:Layouts:login.html.twig" %}

{% block title %}
    {{ "one_more_step" | trans }}
{% endblock %}

{% block sectionclass %}page{% endblock %}

{% block content %}
    <div id="loginbox">
        <div class="row">
            <div class="col-md-12">
                <div class="line-block">
                    <h3 class="title-block">{{ "one_more_step" | trans }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="content">
                        <p>{{ "text_recover_1"|trans({'%email%':email}) }}</p>
                        <p><strong>{{ "text_recover_2"|trans }}</strong></p>
                        <p><strong class="red">{{ "text_recover_3"|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}