{% extends "BackendBundle:Layouts:login.html.twig" %}

{% block content %}
    <div id="loginbox">
        {% if clave == false %}
            <form  action="{{ path('new_password') }}" name="acceso" method="post" class="formularioBusquedaOfertas" {{ form_enctype(formPass) }}>
                {% if error %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ "Error" | trans }}:</strong> {{ "Las contraseñas deben coincidir" | trans }}
                    </div>
                {% endif %}
                {% set nPassword = "Contraseña" | trans %}
                {{ form_row(formPass.password,{ 'attr': { 'class':'form-control' }}) }}
                {{ form_widget(formPass.salt,{ 'attr': { 'value' : saltform } }) }}
                {{ form_rest(formPass) }}
                <button id="register" type="submit" class="btn btn-blue btn-large btn-block">{{ "Cambiar" | trans }}</button>
            </form>
        {% else %}
            <div class="alert alert-error">
                <strong>{{ "Error" | trans }}:</strong>
                {{ "El candidato no se encuentra en CornerFy" | trans }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="line-block">
                <h3 class="title-block">{{ "Crear nueva contraseña" | trans }}</h3>
            </div>
        </div>
    </div>


{% endblock %}



