{% extends "BackendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Caballo" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Listado de Caballos':'#'} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if horse %}
        <div class="widget-box">
            <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
                <h5>{{ "Caballo"|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>{{ "Nombre"|trans }}</td>
                            <td>{% if horse.name is defined %}{{ horse.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Dueño"|trans }}</td>
                            <td>{% if horse.owner is defined %}
                                    <a title="{{ "Ver dueño"|trans }}" href="{{ path('show_owner',{'id':horse.owner.id}) }}">{% if horse.owner.name is defined %}{{ horse.owner.name }}{% endif %} {% if horse.owner.last_name is defined %}{{ horse.owner.last_name }}{% endif %}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "Creación"|trans }}</td>
                            <td>{% if horse.created is defined %}{{ horse.created |date('d/m/Y') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                {% for image in images %}
                    <img src={{ "http://rest.ihorse.me/" ~ image }}>
                {% endfor %}
            </div>
        </div>
        <a title="Añadir imagen" href="{{ path('new_image', { 'horseId': horse.id }) }}" class="btn btn-primary btn-s" ><i class="fa fa-picture-o"></i></a>
        <a title="Modificar" href="{{ path('edit_horse', { 'id': horse.id }) }}" class="btn btn-primary btn-s" ><i class="fa fa-pencil"></i></a>
        <a title="Borrar" href="{{ path('delete_horse', { 'id': horse.id }) }}" class="btn btn-danger btn-s"><i class="fa fa-trash-o"></i></a>
        {% if horse.images is defined and horse.images|length > 0 %}

        {% else %}
            <div class="alert alert-info mt">
                <strong>{{"Información!" | trans }}</strong>
                {{"No tiene imágenes" | trans }}
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}