{% extends "BackendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Caballos" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Caballos':path('horses_list'), (horse.name): ''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if horse %}
        <div class="row">
            <a title="Modificar" href="{{ path('edit_horse', { 'id': horse.id }) }}" class="btn btn-primary btn-s">
                <i class="fa fa-pencil"></i> {{"Editar" | trans}}
            </a>
            <a title="Borrar" href="{{ path('delete_horse', { 'id': horse.id }) }}" class="btn btn-danger btn-s">
                <i class="fa fa-trash-o"></i> {{"Borrar" | trans}}
            </a>

            <a title="Añadir imagen" href="{{ path('new_image', { 'horseId': horse.id }) }}" class="btn btn-primary btn-s">
                <i class="fa fa-picture-o"></i> {{"Añadir imagen" | trans}}
            </a>

        </div>

        <div class="widget-box">
            <div class="widget-title">
            <span class="icon">
                <i class="fa fa-th-list"></i>
            </span>
                <h5>{{ "Caballo"|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>{{ "Nombre"|trans }}</td>
                            <td>{% if horse.name is defined %}{{ horse.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Dueño"|trans }}</td>
                            <td>{% if horse.owner is defined %}

                                    {% if horse.owner.name is defined %}{{ horse.owner.name }}{% endif %} 
                                    {% if horse.owner.last_name is defined %}{{ horse.owner.last_name }}{% endif %}

                                    &nbsp;
                                    <a title="{{ "Ver"|trans }}" href="{{ path('show_owner', { 'id': horse.owner.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                                    <a title="{{ "Editar"|trans }}" href="{{ path('edit_owner', { 'id': horse.owner.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "Creación"|trans }}</td>
                            <td>{% if horse.created is defined %}{{ horse.created |date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Historial"|trans }}</td>
                            <td>{% if history |length > 0 %} <a href="{{ path('histories_list', {'horse' : horse.id}) }}">"ver"</a> {% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "Ficha Dental"|trans }}</td>
                            <td>{% if horse.dental |length > 0 %}
                                    {% for dental in horse.dental %}
                                        <a href="{{ path('dental_list', {'horse' : horse.id}) }}">{{ dental.modified | date("m/d/Y") }} - {{ dental.report | trans }}</a><br>
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                <a href="{{ path('new_dental', {'horse' : horse.id}) }}" class="btn btn-primary btn-xs">{{ "Nueva ficha" | trans }} <i class="fa fa-plus"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        {% if images | length > 0 %}
            <h5>{{"Imágenes asociadas al registro" | trans}}</h5>

            {% for image in images %}
                <img src={{ "http://rest.ihorse.me/" ~ image }}>
            {% endfor %}
        {% endif %}

    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}