{% extends "BackendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Listado de veterinarios" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Veterinarios':'#'} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        <a href="{{ path('new_veterinary') }}" class="btn btn-primary btn-m">
            <i class="fa fa-plus"></i> {{ "Nuevo" | trans }}
        </a>
    </div>

    {% if veterinaries | length > 0 %}

    <div class="row-fluid">
        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                            <span class="icon">
                                <i class="icon-user"></i>
                            </span>
                    <h5>Actividad de los veterinarios</h5>
                </div>
                <div class="widget-content clearfix">
                    <div class="span4">
                        <ul class="site-stats">
                            <li><i class="icon-pencil"></i> <strong>{{ totalDentals }}</strong> <small>Fichas Totales</small></li>
                            <li><i class="icon-picture"></i> <strong>{{ (totalDentals/(veterinaries|length))| number_format(2) }}</strong> <small>Fichas totales por usuario</small></li>
                            <li><i class="icon-briefcase"></i> <strong>{{ veterinariesWithDentals }} / {{ veterinaries|length }}</strong> <small>Veterinarios que han creado fichas dentales</small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Listado de veterinarios"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ "Nombre"|trans }}</th>
                    <th>{{ "Apellido"|trans }}</th>
                    <th>{{ "Email"|trans }}</th>
                    <th>{{ "Creado"|trans }}</th>
                    <th>{{ "Expira"|trans }}</th>
                    <th>{{ "Clínica"|trans }}</th>
                    <th>{{ "Fichas creadas este mes"|trans }}</th>
                    <th>{{ "Acciones"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for veterinary in veterinaries %}
                    <tr>
                        <td>{% if veterinary.name is defined %}{{ veterinary.name }}{% endif %}</td>
                        <td>{% if veterinary.last_name is defined %}{{ veterinary.last_name }}{% endif %}</td>
                        <td>{{ veterinary.email }}</td>
                        <td>{% if veterinary.created is defined %}{{ veterinary.created | date('d/m/Y') }}{% endif %}</td>
                        <td {% if veterinary.expired is defined and (veterinary.expired | date('Y/m/d')) < ('now' | date('Y/m/d')) %} style="color: #FE2E2E" {% endif %}>
                            {% if veterinary.expired is defined %}
                                {{ veterinary.expired | date('d/m/Y') }}
                            {% endif %}
                        </td>
                        <td>{% if veterinary.clinic is defined %}<a href="{{ path('show_clinic', {'id': veterinary.clinic.id}) }}"> {{ veterinary.clinic.name }}</a>{% endif %}</td>
                        <td>
                            {% if veterinariesDates[veterinary.id].productExpired is not null and veterinariesDates[veterinary.id].productExpired | date('Y/m/d') > ('now' | date('Y/m/d')) %}
                            <a href='{{ path('show_dental_graphics') }}'>
                                {% if veterinariesDates[veterinary.id].countDental is not null %}
                                    {{ veterinariesDates[veterinary.id].countDental }}
                                {% else %}
                                    0
                                {% endif %}
                                /
                                {% if veterinariesDates[veterinary.id].totalDentalFromProduct is not null %}
                                    {{ veterinariesDates[veterinary.id].totalDentalFromProduct }}
                                {% else %}
                                    0
                                {% endif %}
                            </a>
                            {% else %}
                                {{ "-" }}
                            {% endif %}
                        </td>
                        <td class="taskOptions">
                            <a title="Ver" href="{{ path('show_veterinary', { 'id': veterinary.id }) }}"><i class="fa fa-eye"></i></a>
                            <a title="Modificar" href="{{ path('edit_veterinary', { 'id': veterinary.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a title="Borrar" class="delete" href="{{ path('delete_veterinary', { 'id': veterinary.id }) }}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}